html,
body {
    padding: 10px;
}

hr {
    border-color: #e6e6e6 !important;
    border-width: 0.5px !important;
}

.lnr-arrow-right {
    font-size: 20px;
    font-weight: 900 !important;
    /* border: 1px solid #dcdada; */
    /* padding: 5px; */
}

.title {
    font-size: 18px;
    margin: 5px;
}

.block {
    display: flex;
    padding: 5px;
    /* flex-direction: row;
    flex: 1 auto;
    justify-content: space-around;
    width: 100%; */
}

.productTitle {
    font-size: 16px;
    margin: 5px;
}

.inputBody {
    border: none;
    border-bottom: 1px solid;
    border-color: #dcdada;
}

.inputBody :active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}


/* .button:hover::after,
.button:focus::after {
    animation: sheen 1s forwards;
} */


/* button::before:hover {
    background-color: rgb(11, 168, 37);
    ;
}

button::after:hover {
    background-color: rgb(5, 202, 38);
    ;
} */

.imageSize {
    width: 2em;
    height: 2em;
    padding: 2px;
    margin: 2px;
}