body {
    margin: 10px;
}

hr {
    border-color: #e6e6e6 !important;
    border-width: 0.5px !important;
}

.lnr-arrow-right {
    font-size: 20px;
    font-weight: 900 !important;
    /* border: 1px solid #dcdada; */
    /* padding: 5px; */
}

.title {
    font-size: 24px;
    margin: 5px;
}

.productTitle {
    font-size: 16px;
    margin: 5px;
}

.inputBody {
    border: none;
    border-bottom: 1px solid;
    border-color: #dcdada;
}

.inputBody :active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}

button {
    outline: none;
    /* color: #fff; */
    color: #dcdada;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

button:focus:hover {
    content: '';
    /* position: absolute; */
    background: linear-gradient(to bottom, rgba(9, 142, 231, 0), rgba(255, 255, 255, 0.5) 50%, rgba(0, 88, 170, 0));
    /* transform: rotateZ(60deg) translate(-5em, 7.5em); */
}


/* .button:hover::after,
.button:focus::after {
    animation: sheen 1s forwards;
} */


/* button::before:hover {
    background-color: rgb(11, 168, 37);
    ;
}

button::after:hover {
    background-color: rgb(5, 202, 38);
    ;
} */

.imageSize {
    width: 2em;
    height: 2em;
    padding: 2px;
    margin: 2px;
}